@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400&display=swap");

* {
  box-sizing: border-box;
}

body {
  font-family:Verdana;
  color:#aaaaaa;
  background-color: #ececec;
}

button {
  background-color: #7b339b;
  color: #fff;
  border: none;
  display: block;
  width: 100%;
  cursor: pointer;
  font-size: 1.1rem;
  font-family: inherit;
  padding: 10px;
}

button:hover {
  background-color: #732d91;
}

button:focus {
  outline: none;
  background-color: #5e3370;
}

  .top{
    background-color:#5e3370;
    padding:10px;
    text-align:center;
    color: #ffffff;
  }
  
  .menu {
    float: left;
    width: 20%;
    text-align: center;
  }
  
  .menu a {
    padding: 8px;
    margin-top: 7px;
    display: block;
    width: 100%;
    color: #aaaaaa;
  }
  
  .main {
    float: left;
    width: 80%;
    padding: 15px;
    margin-top: 7px;
    background-color: #ffffff;
  }
  
  .form-center {
    display:flex;
    justify-content: center;
  }

  .footer {
    position: absolute;
    bottom: 0;
    text-align:center;
    padding:10px;         
  }

  @media only screen and (max-width: 620px) {
    /* For mobile phones: */
    .menu, .main, .right {
      width: 100%;
    }
  }